<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">


    {{ if .Site.Params.resume.education.enable }}
    {{ partial "education.html" . }}
    {{ end }}

    {{ if .Site.Params.resume.awards.enable }}
    {{ partial "awards.html" . }}
    {{ end }}

    {{ if .Site.Params.resume.skills.enable }}
    {{ partial "skills.html" . }}
    {{ end }}

    {{ if .Site.Params.resume.languages.enable }}
    {{ partial "languages.html" . }}
    {{ end }}

    {{ if .Site.Params.resume.interests.enable }}
    {{ partial "interests.html" . }}
    {{ end }}

</aside>
<!--//resume-aside-->
